#app .picture h2 {
  color: #FFF;
}

#app .cover-me h2 {
  margin: 30px 0 0;
  color: #000;
  text-align: center;
  font-size: 81px;
}

#app .cover-me p {
  margin: 10px 0 0;
  text-align: center;
  font-style: italic;
  font-size: 32px;
}

#app .see-more h2 {
  font-size: 100px
}

#app .see-more img {
  width: 0.72em;
  height: 0.72em;
}

#app .border {
  border: 2px dashed #036;
}

#app pre {
  background-color: #fff;
}

#app .code_small pre {
  font-size: .65em;
}

#app .text-centered {
  text-align: center;
}

#app .profile {
  display: flex;
}

#app .profile__photo {
  margin-right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#app .emoji {
  font-size: 500%;
}
